<div class="page-header"><h1 class="text-center">Attachments</h1></div>
<table id="files-table" class="table table-hover table-striped">
  <thead>
  <th></th>
  <th>Preview</th>
  <th>Added At</th>
  <th>Last Updated</th>
  </thead>
  <tbody>
  <tr class="nested-fields">
    <% @housefiles.each do |h| %>
        <td>    <%= link_to image_url(h.file.url) do %>
                  <%= image_tag(h.file.thumb) if h.file? %>
          <% end %></td>
        <td><%= h.file_name %></td>
        <td><%= h.created_at %></td>
        <td><%= h.updated_at %></td>
        <td><%= link_to 'Delete', h, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-xs btn-danger' %></td>

        </tr>
    <% end %>
    </tbody>
</table>