<%= simple_form_for(@house, :html => {:novalidate => true})  do |f| %>


  
  <div class="container-fluid">
  	<%= f.error_notification %>
 	  <div class="row">
  		<div class="col-md-4">
    	  <%= f.input :address%><br /><br />
      </div>
      <div class="col-md-2">
    	  <%= f.input :city %><br /><br />
      </div>

      <div class="col-md-2">
    	  <%= f.input :state %><br /><br />
      </div>

      <div class="col-md-2">
    	  <%= f.input :zipcode, as: :string %><br /><br />
      </div>

      <div class="col-md-2">
    	  <%= f.input :county %><br /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.input :lotsize, label: "Lot Size (Sq. Ft.)", as: :string %><br /><br />
      </div>

      <div class="col-md-2">
    	  <%= f.input :squarefeet, label: "Total GLA (Sq. Ft.)", as: :string %><br /><br />
      </div>

      <div class="col-md-2">
    	  <%= f.input :bedrooms, label: "Bedrooms (Above Grade)", as: :string %><br /><br />
      </div>

      <div class="col-md-2">
    	  <%= f.input :bathrooms, label: "Bathrooms (Above Grade) - UAD", as: :string %><br /><br />
      </div>

      <div class="col-md-2">
	      <%= f.input :basementsf, label: "Basement Square Feet", as: :string %><br /><br />
      </div>

      <div class="col-md-2">
	      <%= f.input :basementsffinish, label: "Basement Square Feet (Finish)", as: :string %><br /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
	      <%= f.input :parcel_id, :as => :integer, label: "Parcel ID"%> <br /><br />
      </div>
      <div class="col-md-2">
	      <%= f.input :concretedrive,:as => :select, :collection => [['No',false],['Yes',true]],:include_blank => true , :label => "Concrete Drive"%>
      </div>

      <div class="col-md-2">
	      <%= f.input :style, collection: ['One Story','1.5 Story', 'Two Story','Three Story','Split Level',"Other"], include_blank: true %><br /><br />
      </div>
      <div class="col-md-2">
	      <%= f.input :year, label: "Year Built", as: :string %><br /><br />
      </div>
      <div class="col-md-2">
	      <%= f.input :garagestalls, label: "Garage Stalls", collection: ["0","1 Attached","1 Detached","2 Attached","2 Detached","3 Attached","3 Detached","Other"], :include_blank => true, :class =>'btn-large'%><br /><br />
      </div>
      <div class="col-md-2">
        <%= f.input :fireplaces, as: :string %><br /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
	      <%= f.input :woodstoves, label: "Wood Stoves", as: :string %><br /><br />
      </div>
      <div class="col-md-2">
	      <%= f.input :heating, collection: ["FWA","Heat Pump", "Baseboard", "Radiator", "Geothermal", "None","Other"], :include_blank => true, :class =>'btn-large'%><br /><br />
      </div>
      <div class="col-md-2">
	      <%= f.input :cooling, collection: ["C/A","Window", "Heat Pump", "Geothermal", "None","Other"], :include_blank => true, :class =>'btn-large'%><br /><br />
      </div>
      <div class="col-md-2">
	      <%= f.input :siding, collection: ["None","Wood", "Hardboard", "Vinyl", "Permanent", "Brick", "Masonry", "Metal","Cement Board","Stucco","Other"], :include_blank => true, :class =>'btn-large'%><br /><br />
      </div>
      <div class="col-md-2">
        <%= f.input :condition, label: "Condtion", collection: ["C1","C2","C3","C4","C5","C6","Other"], :include_blank => true, :class =>'btn-large'%><br /><br />
      </div>
      <div class="col-md-2">
	      <%= f.input :quality, label: "Quality", collection: ["Q1","Q2","Q3","Q4","Q5","Q6","Other"], :include_blank => true, :class =>'btn-large'%><br /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
	      <%= f.input :basementbd, label: "Basement Bedroom", as: :string %><br /><br />
      </div>
      <div class="col-md-2">
	      <%= f.input :basementbath, label: "Basement Bathroom - UAD", as: :string %><br /><br />
      </div>
      <div class="col-md-2">
	      <%= f.input :sprinklers, :as => :select, :collection => [['No',false],['Yes',true]],:include_blank => true %>
	    </div>
    </div>
    <div class="row">
	    <%= f.label :basementother, "Basement Information", :class => "col-md-12 text-center" %><br />
	    <%= f.text_area :basementother,  :rows => 10, :class => "form-control" %><br /><br />
    </div>
    <div class="row">
	    <%= f.label :outbuilding, "Outbuildings", :class => "col-md-12 text-center" %><br />
	    <%= f.text_area :outbuilding, :rows => 10, :class => "form-control" %><br /><br />
    </div>
    <div class="row">
	    <%= f.label :gencomments, "General Comments", :class => "col-md-12 text-center" %><br />
	    <%= f.text_area :gencomments, :rows => 10, :class => "form-control" %><br /><br />
    </div>
    <div class="row">
        <%= f.label :houseimg, "House Image", :class => "col-md-12 text-center" %><br />
        <div class="col-md-6 col-md-offset-3 ">
        <%= f.input :houseimg, :class => "form-control", label: false %>
          </div>
    </div>


    <div class="row">
      <div class="text-center">
  		  <%= f.button :submit, :class => "btn btn-primary" %>
  		  <%= link_to "Cancel", :back, :class => "btn btn-danger" %>
  		</div>
    </div>

  </div>
<% end %>
