<div class="padding-bottom"><div class="page-header"><h1 class="text-center">Housing Database</h1></div></div>
<div class="btn-toolbar" role = "toolbar">
<div class="text-center">
<div class="btn-group-vertical" role="group" aria-label="...">
<%= link_to 'Search Residential Housing', houses_search_path, class: "btn btn-primary btn-lg btn-block"%>
<%= link_to 'View All Residential Housing Listings', houses_viewall_path, class: "btn btn-primary btn-lg btn-block"%>
<%= link_to 'Create New Residential House', new_house_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
  </div>

<br /><br />
<div class="text-center">
  <div class="btn-group-vertical" role="group" aria-label="...">
    <%= link_to 'Add An Agent', new_agent_path, class: "btn btn-primary btn-lg btn-block"%>
    <%= link_to 'View All Agents', agents_path, id: "viewall", class: "btn btn-primary btn-lg btn-block"%>
  </div>
</div>
</div>