 <div class ="container">
<div class="col-md-6 col-md-offset-4">
<h1>Search Houses</h1>
</div>
</div>
<br />

<%= search_form_for @search, :builder => SimpleForm::FormBuilder, :url => houses_searchresults_path, :validate => true do |f| %>

<div class="row">
  <div class="col-md-4">
    <%= f.label :address_cont, "Address"%>
    <%= f.text_field :address_cont, class: "form-control" %><br /><br />
  </div>
  <div class="col-md-2">
    <%= f.label :address_cont, "City"%>
    <%= f.text_field :city_cont, class: "form-control"  %><br /><br />
  </div>
  <div class="col-md-2">
     <%= f.label :state_cont, "State"%><br />
    <%= f.text_field :state_cont , class: "form-control" %><br /><br />
  </div>
  <div class="col-md-2">
     <%= f.label :zipcode_cont, "Zipcode"%><br />
    <%= f.text_field :zipcode_eq, class: "form-control" %><br /><br />
  </div>
  <div class="col-md-2">
     <%= f.label :county_cont, "County"%><br />
    <%= f.text_field :county_cont, class: "form-control" %><br /><br />
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <%= f.label :parcel_id_eq, "Parcel ID"%><br />
    <%= f.text_field :parcel_id_eq, class: "form-control" %><br /><br />
  </div>
  <div class="col-md-2">
    <%= f.label :style_eq, "Style"%><br />
    <%= f.input :style_eq, collection: ["One Story","1.5 Story", "Two Story", "Three Story", "Split Story", "Other"], :include_blank => 'All', :class =>'form-control btn-lg', label: false%><br /><br />
  </div>
  <div class="col-md-2">
    <%= f.label :garagestalls_eq, "Garage Stalls"%><br />
    <%= f.input :garagestalls_eq, collection: ["0","1 Attached","1 Detached", "2 Attached", "1 Detached", "3 Attached", "3 Detached","Other"], :include_blank => 'All', :class =>'btn-lg', label: false%><br /><br />
  </div>
  <div class="col-md-2">
    <%= f.label :concretedrive_true, "Concrete Drive"%><br />
    <%= f.select :concretedrive_true,[['Yes', 1], ['No', 0]],{include_blank: 'All'},class: 'form-control', label: false %>
  </div>
  <div class="col-md-2">
    <%= f.label :fireplaces_eq, "Fireplaces"%><br />
    <%= f.input :fireplaces_eq, collection: (0..4), :include_blank => true, :class =>'btn btn-default btn-lg dropdown-toggle', label: false%><br /><br />
  </div>
  <div class="col-md-2">
    <%= f.label :woodstoves_eq, "Wood Stoves"%><br />
    <%= f.input :woodstoves_eq, collection: (0..4), :include_blank => true, :class =>'btn-lg', label: false%><br /><br />

  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <%= f.label :heating_eq, "Heating"%><br />
    <%= f.input :heating_eq, collection: ["FWA","Heat Pump", "Baseboard", "Radiator", "Geothermal", "None", "Other"], :include_blank => 'All', :class =>'btn-lg', label: false%><br /><br />
  </div>
  <div class="col-md-2">
    <%= f.label :cooling_eq, "Cooling"%><br />
    <%= f.input :cooling_eq, collection: ["CA","Window", "Heat Pump", "Geothermal", "None", "Other"], :include_blank => 'All', :class =>'btn-lg', label: false%><br /><br />
  </div>
  <div class="col-md-2">
    <%= f.label :siding_eq, "Siding"%><br />
    <%= f.input :siding_eq, collection: ["None","Wood", "Hardwood", "Vinyl", "Permanent", "Brick", "Masonry", "Metal", "Cement Board", "Other"], :include_blank => 'All', :class =>'btn-lg', label: false%><br /><br />
  </div>
  <div class="col-md-2">
    <%= f.label :condtion_eq, "Condition"%><br />
    <%= f.input :condition_eq, collection: ["C1","C2", "C3", "C4", "C5", "C6", "Other"], :include_blank => 'All', :class =>'btn-lg', label: false%><br /><br />
  </div>
  <div class="col-md-2">
    <%= f.label :quality_eq, "Quality"%><br />
    <%= f.input :quality_eq, collection: ["Q1","Q2", "Q3", "Q4", "Q5", "Q6", "Other"], :include_blank => 'All', :class =>'btn-lg', label: false%><br /><br />
  </div>
  <div class="col-md-2">
   <%= f.label :sprinklers_eq, "Underground Sprinklers", :class => 'control-label' %><br />
    <%= f.select :sprinklers_true,[['Yes', 1], ['No', 0]],{include_blank: 'All'},{class: 'form-control'} %>
  </div>
</div>
    <p></p>
<div class="row">
  <div class="col-md-6">
    <div class="form-inline">    	
      <%= f.label :lotsize_gteq, "Lot Size (Sq. Ft.) Range", :class => 'control-label' %><br />
      <%= f.input :lotsize_gteq, :label => false %>
      <%= f.label :lotsize_lteq, "through", :class => 'label label-info' %>
      <%= f.input :lotsize_lteq, :label => false %>  <br /><br />
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-inline">
      <%= f.label :squarefeet_gteq, "Total GLA (Sq. Ft.) Range", :class => 'control-label' %><br />
      <%= f.input :squarefeet_gteq, :label => false %>
      <%= f.label :squarefeet_lteq, "through", :class => 'label label-info' %>
      <%= f.input :squarefeet_lteq, :label => false %>  <br /><br />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-inline">  
    <%= f.label :bedrooms_gteq, "Bedrooms (Above Grade) Range", :class => 'control-label' %><br />
    <%= f.input :bedrooms_gteq, :label => false %>
    <%= f.label :bedrooms_lteq, "through", :class => 'label label-info' %>
    <%= f.input :bedrooms_lteq, :label => false %>  <br /><br />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-inline">  
    <%= f.label :bathrooms_gteq, "Bathrooms (Above Grade) - UAD Range", :class => 'control-label' %><br />
    <%= f.input :bathrooms_gteq, :label => false %>
    <%= f.label :bathrooms_lteq, "through", :class => 'label label-info' %>
    <%= f.input :bathrooms_lteq, :label => false %>  <br /><br />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-inline">  
    <%= f.label :year_gteq, "Year Range", :class => 'control-label' %><br />
    <%= f.input :year_gteq, :label => false, collection: (1850..Time.now.year), :include_blank => true, :class =>'btn-lg'%>
    <%= f.label :year_lteq, "through", :class => 'label label-info' %>
    <%= f.input :year_lteq, :label => false, collection: (1850..Time.now.year), :include_blank => true, :class =>'btn-lg'%> <br /><br />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-inline">  
    <%= f.label :basementsf_gteq, "Basement Square Foot Range", :class => 'control-label' %><br />
    <%= f.input :basementsf_gteq, :label => false %>
    <%= f.label :basementsf_lteq, "through", :class => 'label label-info' %>
    <%= f.input :basementsf_lteq, :label => false %>  <br /><br />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-inline">  
    <%= f.label :basementsffinish_gteq, "Basement Square Foot (Finish) Range", :class => 'control-label' %><br />
    <%= f.input :basementsffinish_gteq, :label => false %>
    <%= f.label :basementsffinish_lteq, "through", :class => 'label label-info' %>
    <%= f.input :basementsffinish_lteq, :label => false %>  <br /><br /> 
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-inline">  
    <%= f.label :basementbd_gteq, "Basement Bedroom Range", :class => 'control-label' %><br />
     <%= f.input :basementbd_gteq, :label => false, collection: (0..4), :include_blank => true, :class =>'btn-lg'%>
    <%= f.label :basementbd_lteq, "through", :class => 'label label-info' %>
    <%= f.input :basementbd_lteq, :label => false, collection: (0..4), :include_blank => true, :class =>'btn-lg'%>  <br /><br />       
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-inline">  
    	<%= f.label :basementbath_gteq, "Basement Bathroom - UAD Range", :class => 'control-label' %><br />
    <%= f.input :basementbath_gteq, :label => false, collection: (0..4), :include_blank => true, :class =>'btn-lg'%>
    <%= f.label :basementbath_lteq, "through", :class => 'label label-info' %>
    <%= f.input :basementbath_lteq, :label => false, collection: (0..4), :include_blank => true, :class =>'btn btn-default btn-lg dropdown-toggle'%>  <br /><br />   
   </div>
  </div>
</div>
<div class="row">
    <div class="col-md-6  col-lg-offset-5">
 <%= f.submit "Search", :class => "btn btn-primary" %>
 <%= link_to 'Back to Home', houses_path, :class => 'btn btn-inverse' %>
 
</div>
</div>
 <% end %>   
<br />
</p>

