<div class="page-header"><h1 class="text-center">Search Results</h1></div>
<%= form_tag houses_show_multiple_path, :method => 'get' do %>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= sort_link(@search, :houseimg, "")%></th>
   	  <th><%= sort_link(@search, :address, "Address") %></th>
      <th><%= sort_link(@search, :city, "City") %></th>
      <th><%= sort_link(@search, :county, "County") %></th>
      <th><%= sort_link(@search, :status, "Status") %></th>
      <th><%= sort_link(@search, :currentprice, "Price") %></th>
      <th><%= sort_link(@search, :lotsize, "Lot Size") %></th>
      <th><%= sort_link(@search, :squarefeet, "Square Feet") %></th>
      <th><%= sort_link(@search, :bedrooms, "Bedroom") %></th>
      <th><%= sort_link(@search, :bathrooms, "Bathrooms") %></th>
      <th><%= sort_link(@search, :style, "Style") %></th>
      <th><%= sort_link(@search, :year, "Year Built") %></th>
      <th><%= sort_link(@search, :garagestalls, "Garages") %></th>
    </tr>
  </thead>
  <tbody>

<% @houses.each do |house| %>
	<tr>
	<td><%= check_box_tag "house_ids[]", house.id %></td>
    <td><%= link_to image_tag(house.houseimg_url(:thumb)),house.houseimg_url, data:{ title:house.address, toggle:'lightbox'} %></td>
    <td><%= house.address %></td>
	<td><%= house.city %></td>
    <td><%= house.county %></td>
    <td><%= house.status %></td>
    <td><span data-toggle="tooltip" data-placement="bottom" title="<%= house.get_last_agent %>"> <%= number_to_currency(house.currentprice) %></span></td>
    <td><%= number_with_delimiter(house.lotsize) %></td>
    <td><%= number_with_delimiter(house.squarefeet) %></td>
    <td><%= house.bedrooms %></td>
    <td><%= house.bathrooms %></td>
   	<td><%= house.style %></td>
   	<td><%= house.year %></td>
    <td><%= house.garagestalls %></td>
    <td>	
    	<%= link_to 'Show', house, :class => 'btn btn-xs btn-primary btn-block' %>
    	<%= link_to 'Edit', edit_house_path(house), :class => 'btn btn-xs btn-default btn-block'%>
    	<%= link_to 'Destroy', house, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-xs btn-danger btn-block' %>
  	</td>
  </tr>
<% end %>
  </tbody>
</table>

<div class="form-actions">
	<%= submit_tag "View Checked", :class => 'btn btn-primary' %>
	
<% end %>

<%= link_to 'Back to Search', houses_search_path, :class => 'btn btn-default' %>
<%= link_to 'Back to Home', houses_path, :class => 'btn btn-default' %>
</div>