<h2><%= @house.address %> <%= @house.city %>, <%= @house.state%> <%= @house.zipcode %></h2>

<p>
	<br \>
	<%= image_tag @house.houseimg_url, :size => '260x180'%>
  <br \>
  <br \>
    <b>County:</b>
  <%= @house.county %><br \>
      <b>Status:</b>
  <%= @house.status %><br \>
       <b>Price:</b>
  <%= @house.currentprice %><br \>
  <b>Lot Size (Sq. Ft.):</b>
  <%= @house.lotsize %><br \>
  <b>Total GLA (Sq. Ft.):</b>
  <%= @house.squarefeet %><br \>
  <b>Bedrooms (Above Grade):</b>
  <%= @house.bedrooms %><br \>
  <b>Bathrooms (Above Grade) - UAD:</b>
  <%= @house.bathrooms %><br \>
  <b>Style:</b>
  <%= @house.style %><br \>
  <b>Year Build:</b>
  <%= @house.year %><br \>
   <b>Condition:</b>
  <%= @house.condition %><br \>
    <b>Quality:</b>
  <%= @house.quality %><br \>
    <b>Garage Stalls:</b>
  <%= @house.garagestalls %><br \>
<b>Fireplaces:</b>
  <%= @house.fireplaces %><br \>
<b>Wood Stoves:</b>
  <%= @house.woodstoves %><br \>
<b>Heating:</b>
  <%= @house.heating %><br \>
<b>Cooling:</b>
  <%= @house.cooling %><br \>
  <b>Siding:</b>
  <%= @house.siding %><br \>
    <b>Concrete Drive:</b>
  <%= t @house.concretedrive.class %><br \>
    <b>Underground Sprinklers:</b>
  <%= t @house.sprinklers.class %><br \>
        <b>Parcel ID:</b>
  <%= @house.parcel_id %><br \>
  <b>Basement Square Footage:</b>
  <%= @house.basementsf %><br \>
<b>Basement Square Footage (Finish):</b>
  <%= @house.basementsffinish %><br \>
  <b>Basement Bedrooms:</b>
  <%= @house.basementbd %><br \>
  <b>Basement Bathrooms - UAD:</b>
  <%= @house.basementbath %><br \>
  <b>Basement Information:</b>
  <%= @house.basementother %><br \><br \>

  <b>Out Buildings:</b>
  <%= @house.outbuilding %><br \><br \>

  <b>General Comment:</b>
  <%= @house.gencomments %><br \><br \>

  
  
</p>


<%= link_to 'Edit House', edit_house_path(@house) %> | 
<%= link_to 'Delete House', @house, confirm: 'Are you sure?', method: :delete %> <br \>

<%= link_to 'Add Attachments', new_house_housefile_path(@house) %> |
<%= link_to 'View Attachments', house_housefiles_path(@house) %> <br \>

<%= link_to 'Show Listing Information', house_listings_path(@house) %> |
<%= link_to 'Add Listing Information', new_house_listing_path(@house) %> <br \>

<%= link_to 'Show Sales Information', house_sales_path(@house) %> |
<%= link_to 'Add Sales Information', new_house_sale_path(@house) %> <br \><br \><br \>


<%= link_to "Change Status of House", statusupdate_house_path %><br \><br \>

<%= link_to 'Back', :back %>

