<%= form_tag create_multiple_house_sales_path, :method => :put do %>

      <table class="table">
        <thead>
          <tr>
            <th>Sale Date</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
        <% i = 0 %>
        <% for sale in @sales %>
            <tr>
              <%= fields_for "sales[#{i}]", sale do |f| %>
                  <td><div id="saledatetext[<%=i%>]" style="display:block"><%= sale.saledate %></div>
                    <div id="saledateedit[<%=i%>]" style="display:none"><%= f.text_field :saledate, :class => "form-control" %></div>
                  </td>
                  <td><div id="pricetext[<%=i%>]" style="display:block"><%= sale.price %></div>
                    <div id="priceedit[<%=i%>]" style="display:none"><%= f.text_field :price, :class => "form-control" %></div>
                  </td>
                  <td><div id="editbutton[<%=i%>]" style="display:block"><%= link_to "Edit", "#",onclick: "toggleSale(#{i});", :class => "btn btn-warning" %></div>
                    <div id="updatebutton[<%=i%>]" style="display:none"><%= link_to "Update", "#",onclick: "toggleSale(#{i});", :class => "btn btn-warning" %></div>
                  </td>
              <% end %>
            </tr>
            <% i = i + 1 %>
          <% end %>
        </tbody>
      </table>
      <p><%= submit_tag "Submit" %></p>
<% end %>