<%= simple_form_for([@house, @sale],) do |f| %>  

<%= f.error_notification %>


  <div class="form-actions">
    <%= f.input :price, as: :string, label: "Sale Price", :min => 0 %><br /><br />
    <%= f.input :saledate, label: "Sale Date", :start_year => (Time.now.year - 40), :end_year => Time.now.year, :include_blank => true %><br /><br />
    <%= f.input :contractprice, label: "Contract Date", :start_year => (Time.now.year - 40), :end_year => Time.now.year, :include_blank => true %><br /><br />
    <%= f.input :dom, as: :string, label: "Days on Market", :min => 0 %><br /><br />
    <%= f.input :concession, as: :text, :input_html => { :class => "span6", :rows => 5 } %><br /><br />
    <%= f.input :specialterms, label: "Special Terms", as: :text, :input_html => { :class => "span6", :rows => 5 } %><br /><br />
  	
	<%= f.button :submit, "Save and Add/Edit Agent", :name => "agentsubmit", :class => "btn-primary" %>
    <%= f.button :submit, "Save Without Agent", :name => "submit", :class => "btn-primary" %>
    
    
  </div>
<% end %>
