<%= simple_form_for([@house, @sale],) do |f| %>  

<%= f.error_notification %>


  <div class="form-actions">
    <%= f.input :price, as: :string, label: "Sale Price", :min => 0 %><br /><br />
    <%= f.input :saledate, label: "Sale Date", :start_year => (Time.now.year - 40), :end_year => Time.now.year, :include_blank => true %><br /><br />
    <%= f.input :contractprice, label: "Contract Date", :start_year => (Time.now.year - 40), :end_year => Time.now.year, :include_blank => true %><br /><br />
    <%= f.input :dom, as: :string, label: "Days on Market", :min => 0 %><br /><br />
    <%= f.input :concession, as: :text, :input_html => { :class => "col-md-6", :rows => 5 } %><br /><br />
    <%= f.input :specialterms, label: "Special Terms", as: :text, :input_html => { :class => "col-md-6", :rows => 5 } %><br /><br />
    <%= f.hidden_field :agent_id %>
	<label>Agent Name</label>
    <h3 id="agent_attributes_name">
   	<%= unless @sale.agent.nil?
 	@sale.agent.name 
 	end %></h3><br />
	<%= link_to_function "Select Agent", 'select_agent_fields()', :class => "btn" %><br /><br /><br />
    <%= f.submit "Save Sale Information", :class => "btn btn-primary" %>
    
</div>
<%= render('layouts/agent_fields', :f => f) %>
<% end %>
