<div class="page-header"><h1 class="text-center">Sales Information</h1></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@search, :saledate, "Sale Date") %></th>
      <th><%= sort_link(@search, :price, "Sale Price") %></th>
      <th><%= sort_link(@search, :contractprice, "Date of Contract") %></th>
      <th><%= sort_link(@search, :dom, "Days on Market") %></th>
      <th>Agent Name</th>
      <th>Seller Concession</th>
      <th>Special Terms</th>
      
      </tr>
      </thead>
  <tbody>
<% @sales.each do |sale| %>
	<tr>
		<th><%= sale.saledate.strftime("%m/%d/%Y") %></th>
    	<th><%= number_to_currency(sale.price) %></th>
    	<th><%= sale.contractprice.try(:strftime,"%m/%d/%Y") %></th>
<th><%= sale.dom %></th>
<th><% unless sale.agent.nil? %>
      <%= Agent.find(sale.agent).name%>
  <% end %></th>
<th><%= sale.concession %></th>
<th><%= sale.specialterms %></th>

<th>
  <%= link_to 'Modify Agent', agentadd_sale_path(sale), :class => 'btn btn-xs btn-primary' %>
  <%= link_to 'Edit', edit_sale_path(sale), :class => 'btn btn-warning btn-xs' %>
  <%= link_to 'Destroy', sale, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-xs btn-danger' %>
</th>

</tr>
<% end %>
</tbody>
</table>
<%= link_to 'Back to House', house_path(@house.id)%>